{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}


<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}" class="yellow">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Courses offered</li>
        </ol>
    </nav>


  <h2 class="mb-3">Courses Offered</h2>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-button">Save</button>
  </form>

{% endblock %}
