{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'course_list' %}" class="yellow">My Courses</a></li>
            <li class="breadcrumb-item active" aria-current="page">Courses offered</li>
        </ol>
    </nav>


  <h2 class="mb-3">Update your interests</h2>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'students:quiz_list' %}" class="btn btn-outline-secondary">Nevermind</a>
  </form>
{% endblock %}
