{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}" class="yellow">HOME</a></li>
      <li class="breadcrumb-item active" aria-current="page">My Profile</li>
    </ol>
  </nav>
<div class="well">
     <form method="post" novalidate>
        {% csrf_token %}
          {{ form|crispy }}
        <button type="submit" class="btn btn-button">Save changes</button>
      </form>
    </div>
{% endblock %}
