{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}


    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'ta_course_list' %}" class="yellow">My Courses</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'course_ta_view' assignment.course.id%}" class="yellow">{{ assignment.course.course_title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Marks visible to student?</li>
    </ol>
  </nav>
    <div class="well">
      <div class="page-header">

           <p >Marks visible to student?</p>

        </div>
      <form method="post" novalidate>
        {% csrf_token %}
          {{ form|crispy }}
        <button type="submit" class="btn btn-button">Save changes</button>
      </form>
    </div>


{% endblock %}