{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
 <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'course_add' %}" class="yellow">My Courses</a></li>

    <li class="breadcrumb-item"><a href="{% url 'course_view' comment.course_id %}" class="yellow">{{ comment.course.course_title }}</a></li>

    <li class="breadcrumb-item"><a href="{% url 'add_comment_to_post' comment.course_id  comment.document_id %}" class="yellow">{{ comment.document.file_name }}</a></li>

      <li class="breadcrumb-item active" aria-current="page"> Edit Comment</li>

  </ol>
</nav>
  <div class="well">
    <div class="page-header">
      <blockquote>
        <h2>edit comment</h2>
      </blockquote>
      </div>
      <form method="post" novalidate>
        {% csrf_token %}
          {{ form|crispy }}
        <a href="{% url 'add_comment_to_post' comment.course_id  comment.document_id %}" class="btn btn-button" role="button">Ignore</a>
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-save"></span></button>
      </form>

  </div>

{% endblock %}