{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'course_add' %}" class="yellow">My Courses</a></li>
      <li class="breadcrumb-item"><a href="{% url 'my_private' %}" class="yellow">My Private Files</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add Files</li>
    </ol>
  </nav>
    <div class="well">
         {% include 'messages.html' %}
      <div class="page-header">
           <h2 style="font-size:3vw;" class="text-uppercase">Add Files</h2>
               </div>
          <form method="post" enctype="multipart/form-data" novalidate>
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-button"> Upload <span class="glyphicon glyphicon-upload"></span></button>
          </form>
        <!--
        <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send" />
</form> -->
    </div>


{% endblock %}

