{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'course_add' %}" class="yellow">My Courses</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'course_view' submission.course.id%}" class="yellow">{{ submission.course }}</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'student_submissions' submission.course.id submission.assignment.id  %}" class="yellow">Submissions</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ submission.student }}</li>
    </ol>
  </nav>

 <div class="well">
     {% include 'messages.html' %}
     <div class="page-header">
             <h2>allot marks and feedback </h2>
        </div>
     <div class="panel panel-primary">
            <div class="table-responsive">
            <table class="table table-hover">
        <thead>
        <tr style="color: black;">
          <th>Submissions</th>
            <th>Student Name</th>
            <th>Uploaded at</th>
            <th>Max Marks</th>
            <th>Marks</th>
        </tr>
      </thead>
         <tbody>
          <tr>
             <td class="align-middle"><a href="{{ submissions.file_upload.url }}" class="colour">{{ submission.file_name }}</a></td>
              <td class="align-middle"><b>{{ submission.student }}</b></td>
              <td class="align-middle"><small> {{ submission.uploaded_at }}</small><br></td>
              <td class="align-middle"><b>{{ submission.assignment.max_marks}}</b></td>
             <!-- <td class="align-middle"><input type="text" placeholder="{{ document.mark }}" name="uname" required> -->
              <td class="align-middle">
                  <form method="post" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
        <button type="submit" class="btn btn-button">Save changes</button>
         </form>

      </tbody>
    </table>
 </div>
     </div></div>
{% endblock %}
